* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #3b6078;
  width: 100%;
  max-width: 100vw;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(12, 120px);
  gap: 0.5em;
}

.main-title {
  color: white;
  grid-column: 3 / span 4;
  grid-row: 1 / span 1;
  text-align: center;
  font-family: Orbitron;
  font-size: 5em;
  font-weight: 700;
  font-style: italic;
  margin-top: 1rem;
}

.main-logo {
  grid-column: 4 / span 2;
  grid-row: 2 / span 2;
  background-image: url(../Images/GC_MainLogo_Cutout.png);
  background-size: cover;
  background-position: 0 -20px;
  background-repeat: no-repeat;
}

.logo-BG {
  grid-column: 1 / span 8;
  grid-row: 6 / span 6;
  background-image: url(../Images/GC_MainLogo_Cutout.png);
  background-size: cover;
  background-position: 0 -20px;
  background-repeat: no-repeat;
  z-index: -3;
  opacity: 0.1;
}

.model-female {
  grid-column: 6 / span 3;
  grid-row: 6 / span 3;
  background-image: url(../Images/GC_Model_FemaleMain.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.8));
  margin-top: 20px;
  margin-right: 20px;
}

.hero {
  background-image: url(../Images/GC_Car_CoverShot.png);
  background-size: cover;
  background-position: 0 10px;
  background-repeat: no-repeat;
  grid-column: 1 / span 8;
  grid-row: 1 / span 6;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 0 0 90px 90px;
  overflow: hidden;
}

.top-gradient {
  background: linear-gradient(rgba(59, 96, 120, 1) 20%, rgba(59, 96, 120, 0));
  grid-column: 1 / span 8;
  grid-row: 1 / span 1;
  z-index: -1;
}

.section-BG-Box {
  background-color: #2f4d60;
  grid-column: 1 / span 8;
  grid-row: 6 / span 5;
  margin-left: 4rem;
  margin-right: 4rem;
  z-index: -4;
  border-radius: 0 0 90px 90px;
  overflow: hidden;
}

nav {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  z-index: 1;
  color: #fff;
  font-family: Roboto;
  font-weight: 200;
  margin-left: 3rem;
}

button {
  all: unset;
}

.button-primary img{
  margin-top: 4em;
  margin-bottom: 2rem;
  width: 250px;
  height: auto;
}

.button-secondary img {
  width: 250px;
  height: auto;
  margin-left: 5em;
  margin-top: -1.5em;
  font-weight: 700;
}

.quote-mark {
  color: #23dcef;
  text-align: left;
  font-family: Rockwell;
  font-size: 8rem;
  /* font-style: italic; */
  font-weight: 400;
  line-height: normal;
  grid-column: 4 / span 1;
  grid-row: 6 / span 1;
}

.quote {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  grid-column: 4 / span 2;
  grid-row: 6 / span 3;
  margin-top: 4rem;
}

.gridCarName {
  color: #23dcef;
  font-family: Orbitron;
  font-size: 2.5rem;
  font-weight: 600;
  font-style: italic;
}

.signature {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  grid-column: 4 / span 2;
  grid-row: 8 / span 3;
  margin-top: 1.2rem;
}

h2 {
  color: #fff;
  font-family: Orbitron;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  grid-column: 2 / span 3;
  grid-row: 8 / span 3;
  margin-top: 3.5rem;
}

.how-it-works {
  grid-column: 2 / span 5;
  grid-row: 9;
  color: #fff;
  padding-left: 4.5em;
}

.list-heading {
  color: #fff;
  font-family: Orbitron;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.list-content {
  color: #fff;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
  list-style-type: circle;
  margin: 0.8em 1.8rem;
}

.road-stripe {
  grid-column: 2;
  grid-row: 6 / span 2;
  margin-left: 2rem;
  z-index: -3;
}

.road-stripe2 {
  grid-column: 2;
  grid-row: 10 / span 2;
  margin-left: 2rem;
  z-index: -5;
  height: 20px;
}

footer {
  color: #fff;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  grid-column: 3 / span 5;
  grid-row: 11;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}

.footer-list {
  margin-left: 1.5rem;
  line-height: 1.5rem;
}

.social-icons {
  display: flex;
  flex-wrap: nowrap;
  gap: 2em;
}

.ending-line {
  grid-row: 12;
  grid-column: 2 / span 6;
  margin-bottom: 70px;
  width: 100%;
  height: 2px;
  background-color: #23dcef;
}

@media only screen and (max-width: 575px) {
  /* Ruleset for mobile devices up to 575px wide */
  .grid-container {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        rgba(59, 96, 120, 1),
        rgba(59, 96, 120, .9),
        transparent 10%
      ),
      linear-gradient(to top, 
      rgba(59, 96, 120, .9) 0%,
      rgba(59, 96, 120, .8) 50%,
      /* rgba(59, 96, 120, 1) 65%, */
      /* rgba(59, 96, 120, .8) 70%, */
      transparent 74%),
      url(../Images/GC_Car_CoverShot.png),
      url(../Images/GC_MainLogo_Cutout.png);
    background-size: 150%;
    background-position: top center, bottom 200px center;
    background-repeat: no-repeat;
  }

  .road-stripe,
  .road-stripe2 {
    display: none;
  }

  .main-logo {
    width: 350px;
    height: 350px;
  }

  .main-title {
    margin-top: 0.5em;
    font-size: 7em;
  }

  .button-primary {
    margin: 20em 30em 2em 0;
  }

  .button-primary img {
    width: 400px;
    height: auto;
  }

  .button-secondary img {
    width: 400px;
    height: auto;
    margin-left: 8em;
    margin-top: -1.5em;
  }

  .title-secondary {
    font-size: 3.5rem;
  }
  .list-content {
    font-size: 2rem;
  }

  .list-heading {
    font-size: 2.5rem;
  }

  .how-it-works {
    color: #fff;
    padding-left: 0;
    padding-right: 5em;
  }

  .model-female {
    /* width: 90%;
    height: auto; */
    min-height: 600px;
    min-width: 600px;
    background-image: url(../Images/GC_Model_FemaleMain.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.8));
    /* margin-top: 20px;
    margin-right: 20px; */
  }

  .quote,
  .signature {
    text-align: left;
    font-size: 3rem;
    margin-right: 5em;
  }

  .gridCarName {
    font-size: 4rem;
  }

  .social-icons {
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
  }

  .footer-list {
    font-size: 2em;
    line-height: 2em;
  }

  footer {
    
  }

  .last {
    display: none;
  }
}
